<h1>Books</h1>

<%= link_to 'New Book', books_new_path, class: "btn btn-primary" %>

<% @books.each do |book| %>
    <%# book_path(book.id) was where 'book' is below %>
    <p><%= link_to book.title, book %> by <%= book.author.full_name %></p>
<% end %>
